<!doctype html>

<html lang="es">

<head>
    <title>error 404</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
</head>

<body class="hold-transition sidebar-mini">
   

       
        <!-- contenido de la pagina -->
        <section class="content" style="margin-top: 150px;">

            <div class="error-page">

                <h2 class="headline text-warning">404</h2>

                <div class="error-content" style="margin-top: 50%;">

                    <h3><i class="fas fa-exclamation-triangle text-warning"></i> ¡Ups! pagina no encontrada</h3>

                    <p>
                        No pudimos encontrar la página que estabas buscando.
                        Mientras tanto, puede <a href="login">volver al login</a>.
                    </p>

                </div>

            </div>

        </section>


</body>

</html>