
<body class="hold-transition login-page">
    <!-- olvide mi contraseña -->
    <div class="login-box">

        <!-- encabezado formulario -->
        <div class="login-logo">
            <a href="https://www.sinfa.com.co/"><b>Sinfa</b></a>
        </div>

        <!-- formulario olvide mi contraseña -->
        <div class="card-body login-card-body">

            <!-- validacion -->
            <p class="login-box-msg">¿Olvidaste tu contraseña? Aquí puede recuperar fácilmente una nueva contraseña.</p>

            <!-- inicio formulario login -->
            <form action="recover-password.html" method="post">

                <!-- validacion usuario -->
                <div class="input-group has-validation">
                    <input type="text" class="form-control" placeholder="Usuario">
                    <span class="input-group-text fa fa-user"></span>
                </div>

                <div class="row" style="margin-top: 10px;">
                    <div class="col-12">
                        <button class="btn btn-success btn-block" type="submit">solicitar contraseña</button>
                    </div>
                </div>

            </form>

            <div class="row buttton-group" style="margin-top: 10px;">
                
                <div class="col-12">
                    <a href="login">
                        <button class="btn btn-success btn-block" type="submit">
                        <span class="button-group-text fas fa-arrow-left"></span> &nbsp; regresar
                        </button>

                    </a>
                </div>

            </div>

        </div>

    </div>

</body>
