<!doctype html>

<html lang="es">

<head>
    <title>Inicio</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
</head>

<body class="hold-transition sidebar-mini">

    <div class="content-wrapper">

        <!-- migas de pan y titulos -->
        <section class="content-header">

            <div class="container-fluid">

                <div class="row mb-2">

                    <!-- Titulo -->
                    <div class="col-sm-6">
                        <h1>Inicio</h1>
                    </div>

                    <!-- Migas de pan -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item active">Inicio</li>
                        </ol>
                    </div>

                </div>

            </div>

        </section>

        <!-- contenido de la pagina -->
        <section class="content">

            <!-- Parte superior -->
            <div class="row">

                <!-- cuadro #1 *ngFor="let usuario of usuarios" -->
                <div *ngFor="let usuario of usuarios" class="col-md-4">

                    <a href="#">

                        <div class="card">
                            <!-- texto -->
                            <div class="card-header text-black">
                            </div>
                            <!-- imagenes -->
                            <div class="card-body">

                            </div>

                        </div>
                    </a>

                </div>



            </div>

        </section>

    </div>

</body>

</html>